# Node
node_modules/
node_modules-old/
# Build output
dist/
release/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# OS-specific
.DS_Store

# Database files
*.sqlite
*.sqlite-journal
out/
docs/new-finacial-system

# Test Coverage Reports
coverage/
lcov.info
*.lcov